#container{
	background-image: url("../images/david1.jpg");
	height: 820px;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header{
	float: left;
	font-size: 19px;
	color:white;
	padding: 30px;
	text-transform: uppercase;

}
#signature{
	background-image: url("../images/signature-david.png");
	background-size: 116%;
	background-position: 41% 2%;
	width: 900px;
	height: 250px;
	position: relative;
	top: 350px;
	right: -265px;
}
nav{
	display: flex;
	justify-content: flex-end;
}
#ul_header{
	display: flex;
	margin:0;
}
#li_header{
	list-style-type: none;
	padding: 30px;
}
.a_header{	
	font-size: 19px;
	color:white;
	text-decoration: none;

}
.a_header:hover{
	color: lightgrey;
}