
/*
Palette de couleurs
Black pearl : #1e272e
Minty green: #0be881
Jade dust (bleu): #00d8d6
Gris (comme du blanc) pour text de base: #d2dae2
*/
/*Search bar start*/
.search{
	width: 150px;
	height: 30px;
	border-radius: 25px;
	border: none;
	outline: none;
}
.srchbtn{
	border: none;
	background: none;
	color: white;
	outline: none;
}
.srchbtn:focus{
	outline: none;
}
.srchbtn:hover{
	color: grey;
}
/* START LOG IN */
.login-popup .box .img-area h1{
	font-size: 30px;
}
.login-popup .box .img-area #your-logo{
	background-image: url("../images/life-report_2.png");
	background-size: cover;
	width: 300px;
	height: 300px;
}
.login-popup .box .img-area .img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/clouds-1835815_1920.jpg");
	background-size: cover;
	background-position: center;
	animation: zoomInOut 20s linear infinite;
	z-index: -1;
}
@keyframes zoomInOut{
	0%,100%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
}
.login-popup .box .form{
	flex:0 0 50%;
	max-width: 50%;
	padding:40px 30px;

}
.login-popup .box .form .close{
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 30px;
	cursor: pointer;
}
.login-popup .box .form h1{
	color: grey;
	font-size: 30px;
	margin:0 0 30px;
}
.login-popup .box .form .form-control{
	height: 45px;
	margin-bottom: 30px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #cccccc;
	font-size: 15px;
	color: grey;
}
.login-popup .box .form .form-control:focus{
	outline: none;
}
.login-popup .box .form label{
	font-size: 15px;
	color: grey;
}
.login-popup .box .form .btn{
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 25px;
	background-color: #E91E63;
	font-size: 15px;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
}
.login-popup .box .form .btn:focus{
	outline: none;
}
.login-popup .box .form .btn_create{
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 25px;
	background-color: rgb(15,66,43);
	font-size: 15px;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
}
.login-popup .box .form .btn_create:focus{
	outline: none;
}
.loginor{
	color: grey;
	text-align: center;
	margin-top: 20px;
}
/* end of log in form */

/* Sign Up form start here */
.signup-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease;
}
.signup-popup.showsignup{
	visibility: visible;
	opacity: 1;
}
.signup-popup .box{
	background-color: #FFFFFF;
	width: 750px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
	opacity: 0;
	margin-left: 50px;
	transition: all 1s ease;
}
.signup-popup.showsignup .box{
	opacity: 1;
	margin-left: 0;
}
.signup-popup .box .img-area{
	flex:0 0 50%;
	max-width: 50%;
	position: relative;
	overflow: hidden;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.signup-popup .box .img-area h1{
	font-size: 30px;
}
.signup-popup .box .img-area #your-logo{
	background-image: url("../images/life-report_2.png");
	background-size: cover;
	width: 300px;
	height: 300px;
}

.signup-popup .box .img-area .img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/clouds-1835815_1920.jpg");
	background-size: cover;
	background-position: center;
	animation: zoomInOut 20s linear infinite;
	z-index: -1;
}
@keyframes zoomInOut{
	0%,100%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
}
.signup-popup .box .form{
	flex:0 0 50%;
	max-width: 50%;
	padding:40px 30px;

}
.signup-popup .box .form .closesignup{
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 30px;
	cursor: pointer;
}
.signup-popup .box .form h1{
	color: grey;
	font-size: 30px;
	margin:0 0 30px;
}
.signup-popup .box .form .form-control{
	height: 45px;
	margin-bottom: 30px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #cccccc;
	font-size: 15px;
	color: grey;

}
.signup-popup .box .form .form-control:focus{
	outline: none;
}
.signup-popup .box .form label{
	font-size: 15px;
	color: grey;
}
.signup-popup .box .form .btn-create-signup{
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 25px;
	background-color: rgb(15,66,43);
	font-size: 15px;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
}
.signup-popup .box .form .btn-create-signup:focus{
	outline: none;
}
/* end of sign up form */

/* BIOGRAPHY */
#biography{
	width: 900px;
	height: 520px;
	overflow: scroll;
	margin:50px auto 0 auto;
	color: white;
	text-align: justify;
}
#biography h1{
	padding-top: 402px;
	text-align: center;
	text-transform: uppercase;
}
#biography h2{
	margin: 50px 0px;
	text-transform: uppercase;
	font-weight: 300;
}
#biography p{
	font-size: 20px;
}
.opacity{
	background-color: rgba(153,153,153,0.6);
	transition: 1s all ease-in-out;
}
/*CSS de base ici*/

body {
	background: rgb(15,66,43);
	background: linear-gradient(270deg, rgba(15,66,43,1) 0%, rgba(30,39,46,1) 60%);
	color: #d2dae2;
	font-family: 'Mallanna', sans-serif;
	line-height: 1.5;
}
h3 {
	background: rgb(15,66,43);
	background: linear-gradient(270deg, rgba(15,66,43,1) 0%, rgba(30,39,46,1) 60%);
	color: #0be881;
	padding-left: 50px;

	font-size: 35px;
	letter-spacing: 2px;
}

section {
	margin-left: 50px;
	margin-right: 50px;
}

/*HEADER*/

#container{
	background-image: url("../images/david1.jpg");
	height: 820px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: 0% 0%;
	overflow: scroll;
}
#logo{
	position: fixed;
	float: left;
	background-image: url("../images/life-report_2.png");
	width: 200px;
	height: 200px;
	margin-top: -42px;
	margin-left: -41px;
	background-size: 58%;
	background-position: 54% 31%;
	background-repeat: no-repeat;
	z-index: 10;
}



#signature{
	background-image: url("../images/signature-david.png");
	background-size: 116%;
	background-position: 41% 2%;
	width: 900px;
	height: 250px;
	position: relative;
	top: 350px;
	right: -265px;
}
.solid-nav #navbar{
	background: linear-gradient(270deg, rgba(15,66,43,1) 0%, rgba(30,39,46,1) 60%);
	
}
#navbar{
	background: linear-gradient(270deg, rgba(15,66,43,0) 0%, rgba(30,39,46,0) 60%);
	width: 100%;							
	position: fixed;
	display: flex;
	justify-content: flex-end;
	letter-spacing: 2px;
	z-index: 9;
}
#ul_header{
	display: flex;
	margin:0;
}

.li_header{
	list-style-type: none;
	padding: 20px;
}

.a_header{	
	font-size: 13px;
	color:white;
	text-decoration: none;
	text-transform: uppercase;

}

.a_header:hover{
	color: grey;
	text-decoration: none;
}

/*FIN HEADER*/


/* CAROUSSEL à la NETFLIX*/

.wrapper {
 	background: rgb(15,66,43);
 	background: linear-gradient(270deg, rgba(15,66,43,1) 0%, rgba(30,39,46,1) 60%);
	display: grid;
	grid-template-columns: repeat(3, 100%);
	overflow: hidden;
	scroll-behavior: smooth;
	padding-bottom: 50px;
}
.wrapper section {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, auto);
	margin: 20px 0;
}
.wrapper section .item {
	padding: 0 2px;
	transition: 250ms all;
}
.wrapper section .item:hover {
	margin: 0 40px;
	transform: scale(1.2);
	border-radius: 3%;
	box-shadow: 0px 5px 5px #060809;
}
.wrapper section a {
	position: absolute;
	color: #d2dae2;	
	text-decoration: none;
	font-size: 6em;
	background: #000;
	width: 80px;
	padding: 20px;
	text-align: center;
	z-index: 1;
}
.wrapper section a:nth-of-type(1) {
	top: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.wrapper section a:nth-of-type(2) {
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

/*FIN DU CARROUSSEL NETFLIX*/
